<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Employee's detail</h4>
      <form class="form-horizontal well">
        <div class="form-group">
          <label for="inputFirstName" class="col-sm-5 control-label">First name</label>
          <div class="col-sm-5">
            <input ng-model="$ctrl.employeeVM.firstName" type="text" class="form-control" id="inputFirstName" placeholder="First name...">
          </div>
        </div>
        <div class="form-group">
          <label for="inputLastName" class="col-sm-5 control-label">Last name</label>
          <div class="col-sm-5">
            <input ng-model="$ctrl.employeeVM.lastName" type="text" class="form-control" id="inputLastName" placeholder="Last name...">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAnnualSalary" class="col-sm-5 control-label">Annual salary</label>
          <div class="col-sm-5 input-group">
            <span class="input-group-addon">$</span>
            <input ng-model="$ctrl.employeeVM.annualSalary" type="number" class="form-control" id="inputAnnualSalary">
          </div>
        </div>
        <div class="form-group">
          <label for="inputSuperRate" class="col-sm-5 control-label">Super rate</label>
          <div class="col-sm-5 input-group">
            <input ng-model="$ctrl.employeeVM.superRate" type="number" class="form-control" id="inputSuperRate" min="0" max="50">
            <span class="input-group-addon">%</span>
          </div>
        </div>
        <div class="form-group">
          <label for="inputStartDate" class="col-sm-5 control-label">Start date</label>
          <div class="col-sm-5">
            <input ng-model="$ctrl.employeeVM.startDate" type="date" class="form-control" id="inputStartDate">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-5 col-sm-5">
            <button ng-click="$ctrl.compute()" type="submit" class="btn btn-default"><i class="glyphicon glyphicon-play"></i>&nbsp;Compute</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div ng-show="$ctrl.payslip">
        <h4>Payslip</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Pay Period</th>
                <th>Days worked</th>
                <th>Gross Income</th>
                <th>Income Tax</th>
                <th>Net Income</th>
                <th>Super</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-bind="$ctrl.payslip.name"></td>
                <td ng-bind="$ctrl.payslip.payPeriod"></td>
                <td ng-bind="$ctrl.payslip.numberOfworkingDays"></td>
                <td ng-bind="$ctrl.payslip.grossIncome"></td>
                <td ng-bind="$ctrl.payslip.incomeTax"></td>
                <td ng-bind="$ctrl.payslip.netIncome"></td>
                <td ng-bind="$ctrl.payslip.superA"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
