<div class="container">
  <div class="row">
    <p>
      <!-- Button component -->
      <upload-button on-load-employees="$ctrl.loadEmployees(employees)"></upload-button>
      <button class="btn btn-default" type="button" ng-click="$ctrl.cleanEmployees()">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Clean
      </button>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <!-- Error message -->
      <div ng-if="$ctrl.status.isValid === false" class="alert alert-danger" ng-bind="$ctrl.status.message"></div>
      <!-- Employees table component -->
      <upload-employees employees="$ctrl.employeesVM" ng-show="$ctrl.employeesVM.length"></upload-employees>
    </div>
    <div class="col-sm-12 col-md-6">
      <!-- Result table component -->
      <upload-payslips payslips="$ctrl.payslipsVM" ng-show="$ctrl.payslipsVM.length"></upload-payslips>
    </div>
  </div>
</div>
